only_maximized=false
show_on_desktop=true
show_app_icon=true
icon_on_right=false
show_window_menu=true
hide_title=false
full_name=false
two_lines=false
show_tooltips=true
size_mode=3
title_size=80
sync_wm_font=false
title_font=DejaVu Sans Bold Semi-Condensed 9
subtitle_font=sans 10
title_alignment=0
title_padding=3
inactive_text_alpha=60
inactive_text_shade=110

